@model IEnumerable<DevCollab.Domain.Entities.Publicacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Texto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor.Nome)
                </td>
                <td>
                    <a asp-controller="Publicacao" asp-action="Edit" asp-route-id="@item.IdPublicacao">Editar</a>
                    <a asp-controller="Publicacao" asp-action="Delete" asp-route-id="@item.IdPublicacao">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
